body{
    margin: 0;
    overflow: hidden;
}
#background{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    background-color: beige;
    transition: all 1s;
}
.underlineText{
    text-decoration: underline black 3px solid;
}
#info{
    position: absolute;
    width: 100%;
    height: 17.5%;
    left: 0%;
    top: -17.5%;
    background-color: rgb(248, 198, 123);
    transition: all 1s;
    text-align: center;
    font-size: 1.5em;
}
#showInfo{
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: rgb(248, 198, 123);
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1.25em;
    padding: 0.5% 1.5%;
    transition: all 1s;
}
#showInfo:hover{
    padding: 1% 1.5%;
}
#powerUps{
    position: absolute;
    width: 100%;
    height: 70%;
    left: 0%;
    bottom: 0%;
    text-align: center;
    font-size: 0.85em;
}
#fasterProgress{
    position: absolute;
    width: 25%;
    height: 100%;
    left: 0%;
    top: 0%;
}
#randomBonus{
    position: absolute;
    width: 25%;
    height: 100%;
    left: 25%;
    top: 0%;
}
#longerWidth{
    position: absolute;
    width: 25%;
    height: 100%;
    left: 50%;
    top: 0%;
}
#tallerHeight{
    position: absolute;
    width: 25%;
    height: 100%;
    left: 75%;
    top: 0%;
}
.description{
    font-size: 0.65em;
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: 0%;
    text-align: center;
}
#customBlock{
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 4em;
    overflow: hidden;
}
.navigationLinks {
    /*says where the text should be aligned*/
    float: left;
    /*controls the box size of the element*/
    padding: 17px 32.9px;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    text-decoration: none;
}
.navigationLinks:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
/* Add a color to the active/current link */
.navigationLinks:active {
    background-color: rgba(255, 255, 255, 0.85);
    color: black;
}
#theme{
    position: absolute;
    width: 100%;
    height: 17.5%;
    left: 0%;
    top: -17.5%;
    background-color: rgb(248, 198, 123);
    text-align: center;
    transition: all 1s;
}
#showTheme{
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: rgb(248, 198, 123);
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1.25em;
    padding: 0.5% 1.5%;
    transition: all 1s;
}
#showTheme:hover{
    padding: 1% 1.5%;
}
.slider{
    width: 25%;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    background-color: rgb(141, 141, 141);
    outline: none;
    opacity: 0.5;
    transition: opacity 1s;
    border: black 2px solid;
}
#blockColor1::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: red; 
    cursor: pointer; 
    border: black 2px solid;
}
#blockColor2::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: green; 
    cursor: pointer; 
    border: black 2px solid;
}
#blockColor3::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: blue; 
    cursor: pointer; 
    border: black 2px solid;
}
.slider:hover{
    opacity: 1;
}
#grid{
    position: absolute;
    width: 40%;
    height: 30%;
    left: 30%;
    top: 30%;
    background-color: rgb(231, 231, 231);
    border-left: black 2px solid;
    border-right: black 2px solid;
    overflow: hidden;
}
#blockImg{
    position: absolute;
    left: 0%;
    top: 0%;
}
#playerCanvas{
    position: absolute;
}
#coverGrid{
    position: absolute;
    width: 40%;
    height: 40%;
    left: 30%;
    top: 60%;
    background-color: beige;
    border-top: black 2px solid;
    transition: background-color 1s;
}
#coverGridTop{
    position: absolute;
    width: 40%;
    height: 30%;
    left: 30%;
    top: 0%;
    background-color: beige;
    border-bottom: black 2px solid;
    transition: background-color 1s;
}
#blockInfo{
    position: absolute;
    width: 15%;
    height: 40%;
    left: 7.5%;
    top: 30%;
    background-color: rgb(231, 231, 231);
    border: black 2px solid;
    text-align: center;
    font-size: 1.5em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#blockCanvas{
    position: absolute;
}
#heightInfo{
    position: absolute;
    width: 15%;
    height: 40%;
    right: 7.5%;
    top: 30%;
    background-color: rgb(231, 231, 231);
    border: black 2px solid;
    text-align: center;
    font-size: 1.5em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#slideUp{
    width: 0; 
    height: 0; 
    position: absolute;
    left: 24%;
    top: 15%;
    border-top: 60px solid transparent;
    border-bottom: 60px solid black;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    transition: border-bottom 0.7s;
}
#slideDown{
    width: 0; 
    height: 0; 
    position: absolute;
    left: 24%;
    top: 65%;
    border-bottom: 60px solid transparent;
    border-top: 60px solid black;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    transition: border-top 0.7s;
}
#progressBar{
    width: 25%;
    height: 5%;
    left: 37.5%;
    top: 65%;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    opacity: 0.7;
    transition: opacity 1.5s;
}
#progressBar::-webkit-progress-bar{
    border: 3px black solid;
    background-color: rgba(167, 157, 157, 0.35);
}
#progressBar::-webkit-progress-value{
    /*green good color rgb(40, 218, 135)*/
    background-color:rgb(255, 163, 25);
}
#progressBar:hover{
    opacity: 1;
}
#barValue{
    position: absolute;
    text-align: center;
    font-size: 1.25em;
}
#showAchievement{
    position: absolute;
    left: 44.75%;
    bottom: 0%;
    background-color: rgb(248, 198, 123);
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 1.25em;
    padding: 0.5% 1.5%;
    transition: all 1s;
}
#showAchievement:hover{
    padding: 1% 1.5%;
}
#achievements{
    position: absolute;
    width: 100%;
    height: 28%;
    left: 0%;
    bottom: -28%;
    background-color: rgb(248, 198, 123);
    text-align: center;
    transition: all 1s;
}
.button{
    width: 150px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.achievementButton{
    width: 150px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.achievementButton:active{
    background-color: rgba(255, 255, 255, 0.65);
}
#tooltip{
    position: absolute;
    width: 10%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.8);
    /*border color can change with theme color*/
    border: white 2px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    text-align: center;
    font-size: 1.25em;
    display: none;
}
#blockTypeCanvas{
    position: absolute;
}
#levelUpPage{
    position: absolute;
    width: 40%;
    height: 65%;
    left: 30%;
    bottom: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    transition: all 0.5s;
    text-align: center;
    color: white;
    font-size: 1.5em;
}
#b1{
    position: absolute;
    left: 0%;
    top: 19.5%;
    width: 100%;
    height: 13.5%;
    background-color: transparent;
    font-size: 0.75em;
}
#b2{
    position: absolute;
    left: 0%;
    top: 33%;
    width: 100%;
    height: 13.5%;
    background-color: transparent;
    font-size: 0.75em;
}
#b3{
    position: absolute;
    left: 0%;
    top: 46.5%;
    width: 100%;
    height: 13.5%;
    background-color: transparent;
    font-size: 0.75em;
}
#b4{
    position: absolute;
    left: 0%;
    top: 59.5%;
    width: 100%;
    height: 13.5%;
    background-color: transparent;
    font-size: 0.75em;
}
#b5{
    position: absolute;
    left: 0%;
    top: 73%;
    width: 100%;
    height: 13.5%;
    background-color: transparent;
    font-size: 0.75em;
}
#b6{
    position: absolute;
    left: 0%;
    top: 86.5%;
    width: 100%;
    height: 13.5%;
    background-color: transparent;
    font-size: 0.75em;
}
#h{
    background-color: rgb(238, 98, 80);
}